<a href="https://colab.research.google.com/github/pastoril10/CombinacaoLinear_Equipes/blob/main/Problema_de_combina%C3%A7%C3%A3o_linear_Equipes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problema de Combinação linear - Equipes



Um grupo de 9 amigos decidiram organizar uma pelada com 3 equipes. Os atletas e suas respectivas notas são passadas abaixo (dados). Monte as equipes de forma a obter a menor diferença de habilidade entre cada uma delas, lembrando que cada jogador pode pertencer a somente uma equipe e cada equipe precisa ter exatamente 3 jogadores.

## 1. Importando as bibliotecas

In [1]:
import pandas as pd
from itertools import combinations

# 2. Criando o DataFrame

In [2]:
dados = {"Jogadores":["Fernando", "Thales", "Diogo", "Ricardo", "Aline", "João", "Gustavo", "Albino", "Wellinton"],
         "Nota":[9,8,3,7,8,10,6,5,3]}

In [3]:
df = pd.DataFrame(dados)

In [4]:
# COlocando o DataFrame em ordem (da maior nota para a menor)
df.sort_values(by="Nota", ascending=False, inplace=True, ignore_index=True)

In [5]:
df

   Jogadores  Nota
0       João    10
1   Fernando     9
2     Thales     8
3      Aline     8
4    Ricardo     7
5    Gustavo     6
6     Albino     5
7      Diogo     3
8  Wellinton     3

Dividimos a pontuação total dos atletas por 3, para termos uma ideia de qual o valor de pontos por time

In [6]:
df["Nota"].sum()/3

19.666666666666668

Como a divisão da soma dos pontos de todos os jogadores por 3 (3 equipes) é igual a 19,67, vamos ter que montar as equipes da seguinte forma.

Equipe 1 = 20 Pontos

Equipe 2 = 20 Pontos

Equipe 3 = 19 Pontos

In [7]:
# Opção alternativa para colocar o DataFrame 

df = df.sample(9)

In [8]:
# Colocando a coluna Nota como index do nosso DataFrame
df.set_index("Nota", inplace = True)

In [9]:
df

      Jogadores
Nota
6       Gustavo
3     Wellinton
3         Diogo
5        Albino
8         Aline
7       Ricardo
8        Thales
10         João
9      Fernando

In [10]:
#Criando os times A, B e C - Uma lista vazia.

A = []
B = []
C = []

In [11]:
#Salvando as notas em uma lista

Nota = list(df.index)
Nota

[6, 3, 3, 5, 8, 7, 8, 10, 9]

Verifiquei que existem atletas que possuem a mesma nota. Se ignoro esse fato, o programa não vai executar perfeitamente. 

Quando i = 3, vai ser adicionado Diogo ou Wellinton? veja, temos um problema ai.

Para driblar esse fato, defini o seguinte:

Quando aparecer i = 3 (pela primeira vez), estaremos falando do Diogo. O mesmo vale para i = 8, vamos estar nos referindo a Aline.

Por isso é possivel enchergar os if (i == 3...) e if (i == 8...)

In [12]:
#Criando apenas os objetos a, b e c que recebe o valor True
a = True
b = True
c = True
d = True

for timeA in combinations(Nota, 3):
  
  if sum(timeA) == 20 and a == True:
    a = False
    for i in timeA:
      
      if (i == 3 and b == True):
        df.reset_index(inplace = True)
        diogo = df.loc[(df["Jogadores"] == "Diogo")]
        n = df[df["Jogadores"] == "Diogo"].index
        df.drop(n, inplace = True)
        df.set_index("Nota", inplace = True)

        diogo.set_index("Nota", inplace = True)
        A.append(diogo.loc[i, "Jogadores"])
        b = False
        
      elif (i == 8 and c == True):
        df.reset_index(inplace = True)
        aline = df.loc[(df["Jogadores"] == "Aline")]
        n = df[df["Jogadores"] == "Aline"].index
        df.drop(n, inplace = True)
        df.set_index("Nota", inplace = True)

        aline.set_index("Nota", inplace = True)
        A.append(aline.loc[i, "Jogadores"])
        c = False
        
      else:
        A.append(df.loc[i, "Jogadores"])
        df.drop(index = i, inplace= True)
  
    print ("A equipe 1 sera formada pelos atletas:", A)
    print ()

a = True
for timeB in combinations(df.index, 3):
  if sum(timeB) == 20 and a == True:
    a = False
    
    for i in timeB:
      if (i == 3 and b == True):
        df.reset_index(inplace = True)
        diogo = df.loc[(df["Jogadores"] == "Diogo")]
        n = df[df["Jogadores"] == "Diogo"].index
        df.drop(n, inplace = True)
        df.set_index("Nota", inplace = True)

        diogo.set_index("Nota", inplace = True)
        B.append(diogo.loc[i, "Jogadores"])
        b = False
        
      elif (i == 8 and c == True):
        df.reset_index(inplace = True)
        aline = df.loc[(df["Jogadores"] == "Aline")]
        n = df[df["Jogadores"] == "Aline"].index
        df.drop(n, inplace = True)
        df.set_index("Nota", inplace = True)

        aline.set_index("Nota", inplace = True)
        B.append(aline.loc[i, "Jogadores"])
        c = False
        
      else:        
        B.append(df.loc[i, "Jogadores"])
        df.drop(index = i, inplace= True)

    print ("A equipe 2 sera formada pelos atletas:", B) 
    print ()

a = True
for timeC in combinations(df.index, 3):
  if sum(timeC) == 19 and a == True:
    a = False

    for i in timeC:
      if(i == 8 and d == True):
        df.reset_index(inplace = True)
        aline = df.loc[(df["Jogadores"] == "Aline")]
        n = df[df["Jogadores"] == "Aline"].index
        df.drop(n, inplace = True)
        df.set_index("Nota", inplace = True)

        aline.set_index("Nota", inplace = True)
        C.append(aline.loc[i, "Jogadores"])
        d = False

      else:
        C.append(df.loc[i, "Jogadores"])
        df.drop(index = i, inplace= True)
 
    print ("A equipe 3 sera formada pelos atletas:", C)
    print ( )

A equipe 1 sera formada pelos atletas: ['Gustavo', 'Albino', 'Fernando']

A equipe 2 sera formada pelos atletas: ['Diogo', 'Ricardo', 'João']

A equipe 3 sera formada pelos atletas: ['Wellinton', 'Aline', 'Thales']